.icon
	-webkit-font-smoothing antialiased
	display inline-block
	font-family "icons-webfont"
	font-size inherit
	font-style normal
	font-variant normal
	font-weight normal
	line-height 1
	text-decoration inherit
	text-transform none
	vertical-align middle


.icon_car:before
	content "\"

.icon_moto:before
	content "\"
