doctype html
html
  head
    title Demo
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Demo project')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    style(type='text/css').
  body
    nav.navbar.navbar-default
      .container
        ul.nav.navbar-nav
          li.active
            a home
          li link
          li link



  script(type='text/javascript').
