/*
* Font Styles
* @module fonts
**/
@require '_config.styl'

@font-face
	font-family "museo300-webfont"
	src url($fontPath + "museo300-webfont/museo300-webfont.eot")
	src url($fontPath + "museo300-webfont/museo300-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "museo300-webfont/museo300-webfont.woff") format("woff"), \
		url($fontPath + "museo300-webfont/museo300-webfont.ttf") format("truetype"), \
		url($fontPath + "museo300-webfont/museo300-webfont.svg#museo300-webfont") format("svg");
	font-style normal
	font-weight normal
