extends /_layout/layout.pug

block content
	body    
		header
			nav.navbar.navbar-default
				.container
					ul.nav.navbar-nav
						- var menu = locals.menu;
						for item in locals.menu
							li()&attributes(item.attr)
								a=item.label
		main
			.container
				form
					input(type="text" name="username" placeholder="username")
					input(type="text" name="password" placeholder="password")
					input(type="submit")

		footer
			.container
				.row
					.col-xs-6
						h5 footer
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					.col-xs-6
						h5 Links
						ul
							- var menu = locals.menu;
							for item in locals.menu
								li()&attributes(item.attr)
									a=item.label
			.footer-copyright
				.container © 2014 Copyright Text
					a(href="#") More links

			//- .col-xs-6
			//-   .row
			//-     img.img-responsive.center-block(src="http://lorempixel.com/400/300/city/")

			//-   .row
			//-     h4 Discography
			//-     ul
			//-       each val in [1,2,3,4]
			//-         li
			//-           .name_disc Surprise Without Flaws
			//-           .point ·
			//-           .year 2015
			//-           .options
			//-             a.listen(href="#") listen | 
			//-             a.buy(href="#") buy
			//- .col-xs-6
			//-   .row
			//-     h4=packageName
			//-     h5 Surprise Without Flaws
			//-     p 01. Clouds In The Forest

			//-   .row
			//-     .progress
			//-       .progress-bar(role="progress-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")
			//-         span.sr-only 60%
			//-   .row
			//-     .col-xs-5
			//-       button.btn.btn-default.pull-right(type="button")
			//-         span.glyphicon.glyphicon-step-backward
			//-     .col-xs-2
			//-       button.btn.btn-default.center-block(type="button")
			//-         span.glyphicon.glyphicon-pause
			//-     .col-xs-5  
			//-       button.btn.btn-default.pull-left(type="button")
			//-         span.glyphicon.glyphicon-step-forward

			//-   .row
			//-     h5 Surprise Without Flaws
			//-   .row
			//-     ul
			//-       each val,index in [01,02,03,04]
			//-         li
			//-           .name_disc=val + ". Clouds In The Forest" 
			//-           .options
			//-             a.listen(href="#") 3:20 