-
	var page = {}
	page.staticUrl = "<?php echo $this->staticUrl ?>"
	page.module = "<?php echo $this->module ?>"
	page.controller = "<?php echo $this->controller ?>"
	page.view 	= "<?php echo $this->action ?>"