extends /_layout/layout.pug

block content
	nav.navbar.navbar-default
		.container
			ul.nav.navbar-nav
				- var menu = locals.menu;
				for item in locals.menu
					li()&attributes(item.attr)
						a=item.label
	.container
		fb:login-button(scope="public_profile,email" onlogin="checkLoginState();")